body{
    font-family: 'Hanken Grotesk', sans-serif;
}

#container{
    height: 100vh;
    background-color: white;
}

#conteudo_branco{
    background-color: white;
    width: 700px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 10px 10px 40px #00000052;
}

#conteudo_azul{
    height: 500px;
    width: 350px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    transform: translate(0px);
    border-radius: 30px;
}

#divisão_conteudo_branco{
    position: absolute;
    height: 500px;
    width: 350px;
    transform: translate(350px);
}

#circulo_azul{
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

#p_num_grande{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -140%);
    font-size: 70px;
    color: white;
}

#p_num_pequeno{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 18px;
    color: hsl(241, 28%, 64%);
}

#p_your-result{
    color: hsl(240, 100%, 93%);
    font-size: 23px;
    text-align: center;
    margin: 0px;
    transform: translate(0px, 30px);
}

#p_great{
    color: hsl(221, 100%, 96%);
    font-size: 30px;
    text-align: center;
    margin: 0px;
    transform: translate(0px, 290px);
}

#p_texto-footer{
    color: hsl(240, 29%, 78%);
    font-size: 18px;
    text-align: center;
    margin: 0px;
    transform: translate(0px, 308px);
}

#p_summary{
    font-size: 23px;
    margin: 0px;
    margin-left: 35px;
    transform: translate(0px, 30px);
}

#reaction, #memory, #verbal, #visual{
    width: 270px;
    height: 48px;
    margin-left: 35px;
    transform: translate(0px, 60px);
    border-radius: 8px;
    margin-bottom: 30px;
}

#p_reaction, #p_memory, #p_verbal, #p_visual{
    position: absolute;
    margin: 0px;
    transform: translate(50px, 13px);
}

#img_reaction, #img_memory, #img_verbal, #img_visual{
    transform: translate(18px, 13px);
}

#reaction{
    background-color: #FFF6F5;
}

#p_reaction{
    color: #fa5b59;
}

#num_reaction, #num_memory, #num_verbal, #num_visual{
    position: absolute;
    margin: 0px;
    transform: translate(190px, 13px);
}

#num2_reaction, #num2_memory, #num2_verbal, #num2_visual{
    position: absolute;
    margin: 0px;
    transform: translate(215px, 13px);
    color: #B7B2BE;
}

#memory{
    background-color: #FFFBF2;
}

#p_memory{
    color: #faba2f;
}

#verbal{
    background-color: #F2FAFA;
}

#p_verbal{
    color: #2dd0aa;
}

#visual{
    background-color: #F3F3FD;
}

#p_visual{
    color: #5255fb;
}

#continue{
    width: 270px;
    height: 48px;
    margin-left: 35px;
    transform: translate(0px, 60px);
    border-radius: 60px;
    font-size: 18px;
    color: hsl(221, 100%, 96%);
    background-color: #303B59;
    text-align: center;
    line-height: 48px;
    box-shadow: 3px 3px 40px #00000052;
}